<h1>Project Management App</h1>
<% if user_signed_in? %>
  <h3>List of Org Projects</h3>
  <% if @projects.count == 0 %>
    <p>No Projects to Display </p>
  <% else %>
    <ul>
    <% @projects.map do |project| %>
      <li><%= link_to project.name, project %></li>

    <% end %>
    </ul>
  <% end %>

  <h3>List of Org's Employee </h3>
  <% if @members.count == 0 %>
    <p>No Members to Display </p>
  <% else %>
    <ul>
    <% @members.map do |member| %>
      <li><%= member.email %>
        
        </td></li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  <h1> Welcome</h1>
<% end %>

<br>
======================================<br>
<% if admin_signed_in? %>
  Invite new member/employee <br>
  Add new project <br>
  Edit Organization's details <br>
  Change Organization's Plan <br>
  <%= link_to 'Log Out-admin', destroy_admin_session_path, method: :delete %>
  
  <% else %>
  <%= link_to 'Log Out-member', destroy_member_session_path, method: :delete %>


<% end %>