<% if @artifacts.exists? %>
  <%= link_to 'New Artifact', new_artifact_path(project: @project) %>
  <% @artifacts.map do |artifact| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><%= artifact.name %></th>
          <th scope="col">Owner</th>
          <th scope="col">Status</th>
          <th scope="col">Priority</th>
          <th scope="col">Timeline</th>
          <th scope="col">Related Files</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Task 1</th>
          <td>Member 1</td>
          <td>80%</td>
          <td>High</td>
          <td>December 15, 2021 - January 7, 2021</td>
          <td>pdf, docx , cad</td>
        </tr>
        
      </tbody>
    </table>
  <% end %>
<% else %>
  <h1>Start Creating <%= link_to 'New Artifact', new_artifact_path(project: @project) %></h1>
<% end %>